/* AnimationComponent.module.css */
@keyframes example {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animatedText {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  